<h1>Create an New Variable by yourself</h1>
<form [formGroup]="createVariableManualForm">
  <input placeholder="Enter the Variable Name" />
  <select ngModel="selectedDataType">
    <option value="">Select the Data type</option>
    <option value="string">String</option>
    <option value="boolean">Boolean</option>
    <option value="number">Number</option>
    <option value="others">Other</option>
  </select>
  <div *ngIf="isOtherDataTypeSelected">
    <input ngModel="otherDataTypeSelected" placeholder="Enter the Data Type" />
  </div>
  <input
    placeholder="Enter the decription about the Variable"
    formControlName="decription"
  />

  <select ngModel="selectedVarType">
    <option value="">Select the Variable type</option>
    <option value="class">Class</option>
    <option value="interface">Interface</option>
    <option value="function">Function</option>
    <option value="others">Other</option>
  </select>
  <div *ngIf="isOtherVarTypeSelected">
    <input
      ngModel="otherVarTypeSelected"
      placeholder="Enter the Variable Type"
    />
  </div>
</form>
