<h1>Create an New Variable by yourself</h1>
<form [formGroup]="createVariableManualForm">
  <input placeholder="Enter the Variable Name" />
  <select formControlName="dataTyoe">
    <option value="">Select the Data type</option>
    <option value="string">String</option>
    <option value="boolean">Boolean</option>
    <option value="number">Number</option>
    <option value="others">Other</option>
  </select>
  <form [formGroup]="otherDataTypeSelectedForm">
    <div *ngIf="isOtherDataTypeSelected">
      <input placeholder="Enter the Data Type" formControlName="dataType" />
    </div>
  </form>
  <input
    placeholder="Enter the decription about the Variable"
    formControlName="decription"
  />

  <select formControlName="variableType">
    <option value="">Select the Variable type</option>
    <option value="class">Class</option>
    <option value="interface">Interface</option>
    <option value="function">Function</option>
    <option value="others">Other</option>
  </select>
  <form [formGroup]="otherVarTypeSelectedForm">
    <div *ngIf="isOtherVarTypeSelected">
      <input
        placeholder="Enter the Variable Type"
        formControlName="variableType"
      />
    </div>
  </form>
  <button (click)="createVariableManual()">Create</button>
</form>
