<div class="px-2 py-2">

  <button class="w-10 h-10 items-start sm:mx-10 mx-2 mt-[2%]" mat-dialog-close>
    <img src="../../../assets/back-arrow-svgrepo-com.svg" alt="">
  </button>

  <p class="text-xl font-bold text-center font-poppins my-[2%]">Create Project</p>

  <form [formGroup]="createProjectForm"
        class="flex flex-col space-y-2 xl:space-y-6 items-center mx-auto w-[90%]">

    <div class="flex flex-col w-[80%] space-y-1">
      <label class="font-poppins font-medium">Project Name</label>
      <input
        type="text"
        placeholder="Enter Your Project Name"
        formControlName="projectName"
        class="border-gray-400 border-2 px-2 py-2 rounded-lg hover:border-gray-500 font-poppins
        text-xs md:py-4 md:px-4"
      />
      <div
        *ngIf="
        createProjectForm.controls['projectName'].invalid &&
        isSubmittedCreateProjectForm
      "
        class="text-sm text-red-500"
      >
        Project Name Cannot be Empty
      </div>
    </div>

    <div class="flex flex-col w-[80%] space-y-1">
      <label class="font-poppins font-medium">Project Description</label>
      <input
        type="text"
        placeholder="Enter Your Project Description"
        formControlName="projectDescription"
        class="border-gray-400 border-2 px-2 py-2 rounded-lg hover:border-gray-500 font-poppins
        text-xs md:py-4 md:px-4"
      />
      <div
        *ngIf="
        createProjectForm.controls['projectDescription'].invalid &&
        isSubmittedCreateProjectForm
      "
        class="text-sm text-red-500"
      >
        Project Description Cannot be Empty
      </div>
    </div>

    <div class="flex flex-col w-[80%] space-y-1">
      <label class="font-poppins font-medium">TechStack</label>
      <input
        type="text"
        placeholder="Enter Your TechStack"
        formControlName="techStackDescription"
        class="border-gray-400 border-2 px-2 py-2 rounded-lg hover:border-gray-500 font-poppins
        text-xs md:py-4 md:px-4"
      />
      <div
        *ngIf="
        createProjectForm.controls['techStackDescription'].invalid &&
        isSubmittedCreateProjectForm
      "
        class="text-sm text-red-500"
      >
        Project TechStackDescription Cannot be Empty
      </div>
    </div>

    <div class="flex flex-col w-[80%] space-y-1">
      <label class="font-poppins font-medium">Project Contributors</label>
      <input
        type="text"
        placeholder="Enter Your ProjectContributors"
        formControlName="projectContributors"
        class="border-gray-400 border-2 px-2 py-2 rounded-lg hover:border-gray-500 font-poppins
        text-xs md:py-4 md:px-4"
      />
      <div
        *ngIf="
        createProjectForm.controls['projectContributors'].invalid &&
        isSubmittedCreateProjectForm
      "
        class="text-sm text-red-500"
      >
        Project Contributors Cannot be Empty
      </div>
    </div>

    <button mat-dialog-close
            (click)="onCreateProjectFormSubmit()"
            class="bg-[#5779F1] text-white w-[80%] h-[20%] rounded-lg py-2 font-poppins font-semibold
      hover:opacity-[90%] my-[4%]"
    >
      Create
    </button>

  </form>
</div>


