<section>
  <form [formGroup]="emailForm" (ngSubmit)="onEmailFormSubmit()">
    <input type="text" placeholder="Enter Your Email" formControlName="email">
    <button>SUBMIT</button>
  </form>
</section>

<section *ngIf="showResetPasswordForm">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onActivationCodeSubmit()">
    <input type="text" formControlName="activationCode" placeholder="Enter Your Activation Code">
    <input type="text" formControlName="newPassword" placeholder="Enter Your New Password">
    <button>SUBMIT</button>
  </form>
</section>
