<div class="flex flex-col space-y-1 my-6 md:my-12">
  <p class="text-xl font-bold text-center font-poppins">Reset Password</p>
</div>

<section *ngIf="!showResetPasswordForm">

  <div class="w-[90%] flex justify-center mx-auto my-10 sm:hidden">
    <svg viewBox="0 0 1145 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1145" height="30" rx="10" fill="#D9D9D9"/>
      <rect width="48" height="30" rx="10" fill="#5779F1"/>
    </svg>
  </div>

  <div class="w-[90%] flex justify-center mx-auto my-10 max-sm:hidden lg:hidden">
    <svg viewBox="0 0 1145 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1145" height="20" rx="10" fill="#D9D9D9"/>
      <rect width="48" height="20" rx="10" fill="#5779F1"/>
    </svg>
  </div>

  <div class="w-[90%] flex justify-center mx-auto my-10 max-lg:hidden">
    <svg viewBox="0 0 1145 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1145" height="12" rx="10" fill="#D9D9D9"/>
      <rect width="48" height="12" rx="10" fill="#5779F1"/>
    </svg>
  </div>

  <form [formGroup]="emailForm" (ngSubmit)="onEmailFormSubmit()"
        class="flex flex-col space-y-10 items-center mx-auto md:w-[70%] lg:w-[50%] xl:w-[30%]">

    <div class="flex flex-col w-[80%] space-y-1">
      <label class="font-poppins font-medium">Email ID</label>
      <input type="text"
           placeholder="Enter Your Email"
           formControlName="email"
             class="border-gray-400 border-2 px-2 py-2 rounded-lg hover:border-gray-500 font-poppins
           text-xs md:py-4 md:px-4"
      >
    </div>
    <button
      class="bg-[#5779F1] text-white w-[80%] h-[20%] rounded-lg py-2 font-poppins font-semibold
  hover:opacity-[90%] md:py-3">
      Send Activation Email
    </button>
  </form>

</section>

<section *ngIf="showResetPasswordForm">

  <div class="w-[90%] flex justify-center mx-auto my-10 sm:hidden">
    <svg viewBox="0 0 1145 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1145" height="30" rx="10" fill="#D9D9D9"/>
      <rect width="1050" height="30" rx="10" fill="#5779F1"/>
    </svg>
  </div>

  <div class="w-[90%] flex justify-center mx-auto my-10 max-sm:hidden lg:hidden">
    <svg viewBox="0 0 1145 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1145" height="20" rx="10" fill="#D9D9D9"/>
      <rect width="1050" height="20" rx="10" fill="#5779F1"/>
    </svg>
  </div>

  <div class="w-[90%] flex justify-center mx-auto my-10 max-lg:hidden">
    <svg viewBox="0 0 1145 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1145" height="12" rx="10" fill="#D9D9D9"/>
      <rect width="1050" height="12" rx="10" fill="#5779F1"/>
    </svg>
  </div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onActivationCodeSubmit()"
        class="flex flex-col space-y-5 items-center mx-auto md:w-[70%] lg:w-[50%] xl:w-[30%]">

    <div class="flex flex-col w-[80%] space-y-1">
      <label class="font-poppins font-medium">Activation Code</label>
      <input type="text"
           formControlName="activationCode"
           placeholder="Enter Your Activation Code"
           class="border-gray-400 border-2 px-2 py-2 rounded-lg hover:border-gray-500 font-poppins
           text-xs md:py-4 md:px-4"
      >
    </div>

    <div class="flex flex-col w-[80%] space-y-1">
      <label class="font-poppins font-medium">New Password</label>
      <input type="text"
           formControlName="newPassword"
           placeholder="Enter Your New Password"
           class="border-gray-400 border-2 px-2 py-2 rounded-lg hover:border-gray-500 font-poppins
           text-xs md:py-4 md:px-4"
      >
    </div>
    <button
      class="bg-[#5779F1] text-white w-[80%] h-[20%] rounded-lg py-2 font-poppins font-semibold
  hover:opacity-[90%]">
      Reset Password
    </button>
  </form>
</section>
