<button class="w-10 h-10 items-start sm:mx-10 mx-2 mt-[2%]" mat-dialog-close>
  <img src="../../../assets/back-arrow-svgrepo-com.svg" alt="">
</button>

<p class="text-center font-poppins font-bold my-[2%]">Inbox</p>

<div class="px-4 py-4">
  <div *ngFor="let access of accessProvidersList; let i=index"
       class="bg-[#F3F3F3] rounded-lg py-5 sm:px-5 grid grid-cols-3
        items-center mx-auto px-1 w-[80%]
        ">
    <p class="hidden">{{i+1}}</p>

    <div class="flex flex-col">
      <p class="font-poppins text-[#000000] opacity-[50%] text-sm">Provider Name</p>
      <p class="font-bold font-poppins break-words text-sm">{{access.accessProviderName}}</p>
    </div>

    <div class="flex flex-col">
      <p class="font-poppins text-[#000000] opacity-[50%] text-sm">Project Name</p>
      <p class="font-bold font-poppins break-words text-sm">{{access.accessProjectName}}</p>
    </div>

    <button (click)="onAccessAccept(i)"
              class="bg-[#5779F1] text-white px-2 py-1 rounded w-full font-poppins font-semibold
              max-sm:font-medium text-sm" mat-dialog-close>
        Accept
    </button>

  </div>
</div>
